* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(252, 245, 229, 1);
    font-family: sans-serif;
    min-height: 100vh;
}

.main-wrapper {
    width: 1440px;
    height: 1416px;
    display: flex;
    flex-direction: column;
}

.spots-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 46px;
    padding: 10px 80px;
    background: rgba(255, 255, 255, 0.8);
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 210px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.4);
    padding-bottom: 20px;
    margin: 0 auto;
}

.profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: flex-end;
}

.profile img {
    width: 190px;
    height: 190px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 420px;
    height: 156px;
    gap: 12px;
}

.new-post button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* mobile app (up to 600px wide) */
@media (max-width: 600px) {
    .main-wrapper {
        width: 288px;
        margin: 0 auto;
    }

    .spots-logo {
        width: 288px;
        padding: 10px 80px;
    }

    .header-container {
        display: flex;
        flex-direction: column;
        width: 288px;
        height: 346px;
        border-bottom: 1px solid rgba(33, 33, 33, 0.4);
        padding-bottom: 20px;
        gap: 32px;
    }
}
