/* header */


/* gallery */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap'); 

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 27px;
    gap: 20px;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
    height: 413px;
    width: 413px;
    border-radius: 15px;
}


/* cards */
.card-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.card-footer span {
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins';
}

.card-footer img {
    cursor: pointer;
}

/* footer */